.UserList {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    max-width: 100vw;

    .button {
        display: flex;
        margin: 0.5rem;
    }

}