.CardPetsComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(-225deg, #5271C4 0%, #B19FFF 48%, #ECA1FE 100%);
  width: fit-content;
  margin: 0.5rem;

  .button {
    display: flex;
    margin: 0.1rem;
    background-color: #F9FEA5;

    color: darkblue;

    &:hover {
      background-color: rgb(247, 255, 91);
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    color: black;

    &:last-child {
      padding-bottom: 0;
    }
  }
}