@import url(https://fonts.googleapis.com/css?family=VT323);

.Header {
  font-family: 'VT323';
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(150deg, rgba(2, 0, 36, 0.9860788863109049) 0%, rgba(9, 9, 121, 1) 39%, rgba(0, 212, 255, 1) 100%);
  min-height: 10vh;

  @media screen and (max-width:500px) {
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    display: flex;
    font-size: 3rem;
    color: #f7f443;
    margin: 0 0 0 2rem;
  }

  .menu_btn_group {
    display: flex;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:500px) {
      justify-content: center;
      margin: 1rem 0;
    }

    .btn {
      color: white;

      &.qwe {
        background-color: rgba(10, 255, 80, 0.5)
      }

      &:active {
        color: yellow;
      }

    }

  }
}