.CardComponent {
  flex: 0.5;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  background-image: radial-gradient(circle 926px at 2.7% 11%, rgba(17, 29, 94, 1) 0%, rgba(178, 31, 102, 1) 90%);


  .title {
    color: wheat;
    font-size: 14px;
  }

  .name {
    color: yellow;

  }

  .pos {
    color: wheat;

    margin-bottom: 12px;
  }

  .button {
    margin: 0 auto;
  }

  .media {
    max-width: 600px;
    display: flex;
  }

}