.CardComponent {
  // flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;

  .button {
    display: flex;
    margin: 0 1rem;
  }

  .cardActions {
    margin: 0 auto;
    padding: 0;
  }

  .content {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
  }

  .typography {
    display: flex;
    width: 100%;
    justify-content: center;
    color: black;
  }
}