.AlbumsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: burlywood;
  height: 100%;

  .albumWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}