.LoginPage {
  min-height: 80vh;

  background-color: rgba($color: #fff, $alpha: 0.0);

  .errorMessage {
    display: flex;
    text-align: center;
    color: black;
    justify-content: center;
  }
}