.AlbumPage {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  position: relative;
  margin: 1rem 0;

  .wrapperModalWindow {
    display: flex;

    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.8);

    .wrapperPhoto {
      width: 65%;
      height: auto;
    }
  }

  .paginationPanel {
    display: flex;
    justify-content: space-between;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

    border-radius: 1rem;
  }

  .formControl {
    width: 10rem;
  }

  .pageButton {
    margin: 1rem 0.5rem;
    width: 20%;
  }

  .select {
    margin: 1rem;
  }

  .checkbox {
    width: 12rem;
    margin: 1rem;
  }

  .gallery {
    div {
      justify-content: center;
    }

    img {
      max-width: 50vh;
      height: auto;
      margin: 1rem auto;
    }

  }
}